@import "tailwindcss";

/* SVAR Gantt baseline */
@import "@svar-ui/react-gantt/style.css";

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
